body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #595C5F;
}

header {
    background: #171A1C;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-left;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: underline;
    color:#ffffff;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

#sucessForm {
    padding: auto;
    text-align: center; 
    color: #ffffff;
    height: auto;
    width: auto;
}

#sucessForm h1 {
    font-size: 24px;
}

#sucessForm h2 {
    font-size: 18px;
    text-align: left;
}

#sucessForm pre {
    font-size: 14px;
    text-align: left;
}

#sucessForm a {
    background: #ffffff;
    color: #ED185C;
    border: 1px solid #ED185C;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: auto;
    border-radius: 5px;
}

.no-underlined {
    text-decoration: none;
}

form {
    width: 1080px;
    height: 665px;
    margin: auto;
    background: #4B4B4B;
    padding: 15px;
    border-radius: 5px;
}

form fieldset {
    margin-bottom: 20px;
    border: none;
    padding: 10px;
}

form legend {
    font-weight: bold;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-row div {
    flex: 1;
    min-width: 280px;
    margin-right: 10px;
}

.form-row div:last-child {
    margin-right: 0;
}

form label {
    padding-top: 10px;
    display: block;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 10px;
}

form legend {
    color: #ffffff;
    font-size: 24px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #22262A;
    color: #FFFFFF80;
    border: none;
}

form button {
    margin: 0 auto;
    background: #ED185C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: 98%;
    border-radius: 5px;
}

form button:hover {
    background: #171A1C;
}

footer {
    background: #171A1C;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu {
    display: none;
}

footer {
    background: #171A1C;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

@media (max-width: 991px) {
    nav ul li:not(:first-child) {
        display: none;
    }

    nav ul li:first-child {
        display: block;
    }

    body {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    header {
        background: #171A1C;
        padding: 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    footer {
        background: #171A1C;
        color: #ffffff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: 24px;
    }

    .mobile-menu a:hover {
        color: #ED185C;
    }

    main form {
        padding-top: 20px;
        width: 90%;
        max-width: none; 
        height: auto; 
    }

    .footer-content {
        display: none;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row div {
        flex: 1;
        min-width: unset;
        margin-right: 0;
    }

    .form-row div input,
    .form-row div select {
        width: 100%;
        margin-bottom: 10px;
    }

    nav ul li:first-child {
        display: block;
    }
}
